* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#root > div {
    width: 100%;
    overflow-x: hidden;
}

div {
    max-width: 100%;
}
